<div class="row">
  <div class="small-12 columns">
    <p>
      Thanks for agreeing to participate in the simulation.
    </p>
    <p>
      We’ll follow up with more details, but see you on the 25th at 1pm!
    </p>
    <p>
      <%= link("Edit details",
        to: Routes.user_url(RegistrationsWeb.Endpoint, :edit)
      ) %>
    </p>
  </div>
</div>
