<div class="row">
  <div class="small-12 columns">
    <p>
      Welcome to Poles.
    </p>
    <p>
      <%= link("Edit details",
        to: Routes.user_url(RegistrationsWeb.Endpoint, :edit)
      ) %>
    </p>
  </div>
</div>
