<div class='row'>
  <div class='small-12 columns'>
    <p>Thanks for registering to attend the unmnemonic devices™ demonstration on <%= ordinal_date() %>. Expect further email to keep you updated on where and when.</p>
    <p>If you haven't already, visit the <%= link "site", to: Routes.user_url(RegistrationsWeb.Endpoint, :edit) %> to let us know your details.</p>
  </div>
</div>
