<div class="row">
  <div class="small-12 columns">
    <p>
      FIXME waydowntown <%= ordinal_date() %>.
    </p>
    <p>
      <%= link("edit details",
        to: Routes.user_url(RegistrationsWeb.Endpoint, :edit)
      ) %>
    </p>
  </div>
</div>
