<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>waydowntown</title>
    <link
      rel="stylesheet"
      href={
        Routes.static_url(
          RegistrationsWeb.Endpoint,
          "/css/#{Application.get_env(:registrations, :adventure)}-email.css"
        )
      }
    />
  </head>

  <body class="email">
    <div class="everything">
      <%= @inner_content %>
    </div>
  </body>
</html>
