@import 'foundation';
@include foundation-everything;

td {
  vertical-align: top;
}

body.draglessness {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.top-bar ul li.pair {
  a {
    display: inline-block;
  }

  a:first-child {
    padding-right: 0;
  }

  a:last-child {
    padding-left: 0.35rem;
  }
}

$region-length: 4rem;

.map {
  position: relative;

  .region {
    position: absolute;

    width: $region-length;
    height: $region-length;

    border: 1px solid black;

    overflow: hidden;

    .name {
      font-size: 33%;
    }
  }
}

$column-width: 6rem;

#scheduler {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: white;

  font-family: Silkscreen;
  font-size: 8px;

  * {
    line-height: 1;
  }

  .teams, .regions {
    position: absolute;
    top: 0;
    right: 0;

    width: $column-width;

    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      border: 1px solid black;
      border-top: 0;

      padding: 2px 3px;
    }
  }

  .teams {
    right: $column-width;

    li {
      border-right: 0;

      &[data-risk-aversion='1'] {
        border-right: 3px solid green;
      }

      &[data-risk-aversion='2'] {
        border-right: 3px solid darkorange;
      }

      &[data-risk-aversion='3'] {
        border-right: 3px solid red;
      }
    }
  }

  .regions {
    > li {
      background: black;
      color: white;

      padding: 0;

      font-weight: bold;

      .name {
        padding: 2px 3px;
      }
    }

    .destinations {
      margin: 0;
      background: white;

      li {
        border-width: 0 0 1px 0;
        color: black;
        font-weight: normal;

        border-top-style: solid;
        border-top-color: lime;

        .accessibility {
          border-top: 1px solid #bbb;
        }
      }
    }
  }

  .meeting-form {
    position: absolute;
    bottom: 0;
    right: 0;
    width: $column-width*2;
  }

  a.home {
    padding: 4px;
    font-size: 16px;
  }
}
