<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= adventure_name() %></title>
    <link rel="stylesheet" href="<%= static_url(Cr2016site.Endpoint, "/css/email.css") %>">
  </head>

  <body>
    <div class='everything'>
      <div class='row title'>
        <div class='small-12 columns'>
          <h2><%= adventure_name() %></h2>
        </div>
      </div>

      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
