<div class='row card'>
  <div class='small-12 columns'>
    <%= if length(@messages) == 1 do %>
      This message was sent before you registered.
    <% else %>
      These messages were sent before you registered.
    <% end %>
  </div>
</div>
<%= for message <- @messages do %>
  <div class='row card'>
    <div class='small-12 columns'>
      <h3><%= raw message.subject %>: <%= message.postmarked_at %></h3>
      <p><%= raw message.content %></p>
    </div>
  </div>
<% end %>
