<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clandestine Rendezvous</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class='row'>
      <div class='small-12 columns'>
        <nav class='top-bar'>
          <div class='top-bar-left'>
            <ul class='dropdown menu'>
              <li><%= link "Home", to: page_path(@conn, :index), class: "home" %></li>
              <%= if logged_in?(@conn) do %>
                <li><%= link "Log out #{current_user(@conn).email}", to: session_path(@conn, :delete), method: :delete, class: "logout" %></li>
                <li><%= link "Edit details", to: user_path(@conn, :edit), class: "details" %></li>
                <%= if admin?(@conn) do %>
                  <li><%= link "Users", to: user_path(@conn, :index), class: "users" %></li>
                <% end %>
              <% else %>
                <li><%= link "Register", to: registration_path(@conn, :new), class: "register" %></li>
                <li><%= link "Log in", to: session_path(@conn, :new), class: "login" %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <%= render @view_module, @view_template, assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      // FIXME having to manually include this for DELETE links to work on Travis

      var elements = document.querySelectorAll('[data-submit^=parent]');
      var len = elements.length;

      for (var i = 0; i < len; ++i) {
        elements[i].addEventListener('click', function (event) {
          var message = this.getAttribute("data-confirm");
          if (message === null || confirm(message)) {
            this.parentNode.submit();
          };
          event.preventDefault();
          return false;
        }, false);
      }
    </script>
  </body>
</html>
