<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name='twitter:card' content='summary'>

    <meta property='og:title' content='Clandestine Rendezvous: Toronto, February 5'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='http://crtoronto.herokuapp.com'>
    <meta property='og:image' content='http://crtoronto.herokuapp.com/images/eye.png'>
    <meta property='og:description' content='You are a member of a secret society with a mission of the utmost importance. You will have encounters with other members around the PATH where you will obtain information to get closer to fulfilling your mission.'>

    <title>Clandestine Rendezvous</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class='everything'>
      <div class='row card nav'>
        <div class='small-12 columns'>
          <nav class='top-bar'>
            <div class='top-bar-left'>
              <ul class='dropdown menu'>
                <li><%= active_link "Home", @conn,page_path(@conn, :index), class: "home" %></li>
                <%= if logged_in?(@conn) do %>
                  <li>
                    <%= link to: session_path(@conn, :delete), method: :delete, class: "logout" do %>
                      Log out <span class="show-for-medium"><%= current_user(@conn).email %></span>
                    <%= end %>
                  </li>
                  <li><%= active_link "Edit details", @conn, user_path(@conn, :edit), class: "details" %></li>
                  <%= if admin?(@conn) do %>
                    <li><%= active_link "Users", @conn, user_path(@conn, :index), class: "users" %></li>
                    <li><%= active_link "Messages", @conn, message_path(@conn, :index), class: "messages" %></li>
                  <% end %>
                <% else %>
                  <li><%= active_link "Register", @conn, registration_path(@conn, :new), class: "register" %></li>
                  <li><%= active_link "Log in", @conn, session_path(@conn, :new), class: "login" %></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <%= if get_flash(@conn, :info) do %>
        <div class='row'>
          <div class='small-12 columns'>
            <p class="alert-info success callout" role="alert"><%= get_flash(@conn, :info) %></p>
          </div>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class='row'>
          <div class='small-12 columns'>
            <p class="alert alert-danger callout" role="alert"><%= get_flash(@conn, :error) %></p>
          </div>
        </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>
      // FIXME having to manually include this for DELETE links to work on Travis

      var elements = document.querySelectorAll('[data-submit^=parent]');
      var len = elements.length;

      for (var i = 0; i < len; ++i) {
        elements[i].addEventListener('click', function (event) {
          var message = this.getAttribute("data-confirm");
          if (message === null || confirm(message)) {
            this.parentNode.submit();
          };
          event.preventDefault();
          return false;
        }, false);
      }
    </script>
  </body>
</html>
