<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>
            Region
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each this.waypoints as |waypoint|}}
          <tr data-test-waypoint>
            <td data-test-name>
              {{waypoint.name}}
            </td>
            <td data-test-author>
              {{waypoint.author}}
            </td>
            <td data-test-region>
              {{waypoint.region.name}}
            </td>
            <td>
              <LinkTo @route="waypoint" @model={{waypoint}} data-test-edit>
                Edit
              </LinkTo>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route="waypoints.new" data-test-waypoints-new>
      New
    </LinkTo>
  </div>
</div>