<div class='row'>
  <div class='small-12 columns'>
    <table>
      <thead>
        <tr>
          {{#if (feature-flag 'destination-status')}}
            <th></th>
          {{/if}}
          <th>
            <button
              class='secondary label'
              type='button'
              {{on 'click' this.toggleSort}}
              data-test-header-region
            >
              Region
            </button>
          </th>
          <th>
            Name
          </th>
          <th>
            Author
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.waypoints as |waypoint|}}
          <WaypointRow @waypoint={{waypoint}} />
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route='waypoints.new' data-test-waypoints-new>
      New
    </LinkTo>
  </div>
</div>