<div class='row'>
  <div class='small-12 columns'>
    {{#if this.region}}
      <RegionHeading @region={{this.region}} @route='destinations' />
    {{/if}}
    <table>
      <thead>
        <tr>
          {{#if (feature-flag 'destination-status')}}
            <th></th>
          {{/if}}
          <th class='p-2 text-left text-sm'>
            <SortButton
              @active={{eq this.sorting 'region'}}
              {{on 'click' this.toggleRegionSort}}
              data-test-header-region
            >
              Region
            </SortButton>
          </th>
          <th class='p-2 text-left text-sm'>
            Name
          </th>
          <th class='p-2 text-left text-sm'>
            Author
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.waypoints as |waypoint|}}
          <WaypointRow @waypoint={{waypoint}} />
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route='waypoints.new' data-test-waypoints-new>
      New
    </LinkTo>
  </div>
</div>