@import 'foundation-sites/scss/util/unit';

$header-font-family: 'ud-body';
$body-font-family: 'ud-body';
$body-font-color: white;

$global-width: rem-calc(480) !default;

$form-label-color: white;
$helptext-color: white;
$helptext-font-style: normal;

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-regular.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-oblique.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-oblique.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-bold.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-bold-oblique.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-bold-oblique.woff') format('woff');
    font-weight: bold;
    font-style: oblique;

}

@font-face {
    font-family: 'ud-script';
    src: url('/fonts/unmnemonic-devices/ud-script.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import 'foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-everything;

body {
  background: black;
}

.hero .columns {
  position: relative;
}

h1 {
  font-family: 'ud-script';
  font-size: 2.1rem;
  position: absolute;
  bottom: 0;
  margin-left: 1.5rem;
  color: white;
  text-shadow: 2px 2px 1px black;

  sup {
    font-family: 'ud-body';
    font-size: 20%;
    top: -1em;
    left: -1em;
  }
}
