<div class='grid-x'>
  <div class='small-12 cell'>
    <table>
      <thead>
        <tr>
          {{#if (feature-flag 'destination-status')}}
            <th></th>
          {{/if}}
          <th>
            <button {{on 'click' this.toggleSort}} class='secondary label' type='button' data-test-header-region>
              Region
            </button>
          </th>
          <th>
            Description
          </th>
          <th>
            Answer
          </th>
          <th class='show-for-medium'>
            Mask
          </th>
          <th>
            <button class='secondary label' type='button' {{on 'click' this.toggleAwesomenessSort}} data-test-header-awesomeness>
              A
            </button>
          </th>
          <th>
            R
          </th>
          <th>
            <button class='secondary label' type='button' {{on 'click' this.toggleScheduledSort}} data-test-header-scheduler>
              S?
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.destinations as |destination|}}
          <DestinationRow @destination={{destination}} />
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route='destinations.new' class='new'>
      New
    </LinkTo>
  </div>
</div>