@import 'util/_unit';

$header-font-family: 'Blackout Sunrise';

$body-font-family: 'Oswald', sans-serif;
$body-font-color: white;
$global-width: rem-calc(480) !default;

$primary-color: fuchsia;
$success-color: lime;
$alert-color: $primary-color;
$warning-color: yellow;

$callout-background-fade: 10%;

$background-one: #111;
$background-two: lighten($background-one, 1%);

$highlight: lighten($background-one, 10%);

$form-label-color: white;
$helptext-color: white;
$helptext-font-style: normal;
$input-color: $highlight;
$button-color: $highlight;

/* Blackout Sunrise */
@font-face {
    font-family: 'Blackout Sunrise';
    src: url('/fonts/blackout_sunrise-webfont.eot');
    src: url('/fonts/blackout_sunrise-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/blackout_sunrise-webfont.woff') format('woff'),
         url('/fonts/blackout_sunrise-webfont.ttf') format('truetype'),
         url('/fonts/blackout_sunrise-webfont.svg#BlackoutSunrise') format('svg');
    font-weight: normal;
    font-style: normal;

}



@import 'foundation';

@import 'cbbb';

@include foundation-global-styles;

// TODO foundation-flex-grid wasn’t working?
@include foundation-everything;

body {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><rect x='0' y='0' width='100' height='100' style='fill: #{$background-one}' /><path d='M0,0 L50,50 L50,0 L100,0 L50,50 L100,100 L50,100 L50,50 L0,100 Z' style='fill: #{$background-two}' /></svg>");
  background-attachment: fixed;
}

h2 {
  font-size: 3rem;
  line-height: 1;

  @include breakpoint(small down) {
    font-size: 2rem;
  }
}

.row.title + .row.card {
  margin-top: 0;
}

canvas {
  margin-top: -15px;
}

.moving-highlight {
  text-shadow: 0 0 15px $primary-color;
}

.everything .row {
  background: $highlight;
}

.top-bar, .top-bar ul {
  background: transparent;
}

$nav-height: 6rem;

.everything {
  padding-top: $nav-height;
}

.row.card {
  margin-top: 3rem;
  margin-bottom: 3rem;

  padding-top: $paragraph-margin-bottom;
  padding-bottom: $paragraph-margin-bottom;

  p:last-child {
    margin-bottom: 0;
  }

  &.eye {
    background: transparent;

    p {
      text-align: center;
    }
  }
}

.row.flash {
  margin-bottom: 3rem;

  .columns {
    padding: 0;
  }

  .callout {
    margin-bottom: 0;
  }
}

.row.nav {
  left: 50%;
  width: $global-width;
  margin-left: -$global-width/2;
  position: fixed;
  padding: 0;

  z-index: 10;

  background: $highlight;

  @include breakpoint($global-width down) {
    margin-left: 0;
    width: 100%;
    left: 0;
  }
}

.row.title {
  background: transparent;
  margin-bottom: 1rem;
}

.moving-highlight {
  color: #ccc;
}

// Copied from Foundation to style logout link
.menu > li > form {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}

.menu a.active {
  font-weight: bold;
}

$easing-control-points: 1.000, 0.060, 1.000, -0.555;

$final-scale: 10;

$min-max-y: -cbbb-min-max-y-from-control-list($easing-control-points);
$min-y: nth($min-max-y, 1);

$initial-scale: 1 - ($final-scale - 1)*$min-y;

.zoom-container {
  overflow: hidden;
  position: relative;

  img, .secret {
    transform: scale($initial-scale) translate(percentage(-0.15*$min-y), percentage(0.15*$min-y));
    transition: all 1s linear;
    transition-delay: 0.5s;
  }

  .secret {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .text {
      position: absolute;
      top: 36%;
      right: 36%;

      font-size: 1px;

      cursor: pointer;
    }
  }

  &:hover {
    img, .secret {
      transform: scale($final-scale) translate(-15%, 15%);
      transition: all 10s cubic-bezier($easing-control-points);
    }
  }
}

table, thead {
  color: black;
}

thead, tbody {
  border: 0;
}

.conflict {
  background-color: $warning-color;
}

.fa {
  transform: translateY(12%);
}

.iris {
  transition: all 300ms ease-out;
}

.svg-background-experiment {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.form-group {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  margin-bottom: 0;
}
