<nav>
  <ul>
    <li>
      <a href="calls">
        calls
      </a>
    </li>
    <li>
      <a href="destinations">
        destinations
      </a>
    </li>
    <li>
      <a href="prompts">
        prompts
      </a>
    </li>
    <li>
      <a href="regions">
        regions
      </a>
    </li>
    <li>
      <a href="teams">
        teams
      </a>
    </li>
    <li>
      <a href="voicemails">
        voicemails
      </a>
    </li>
  </ul>
</nav>