{{#> admin/layout }}
  <table>
    <thead>
      <tr>
        <th>
          name
        </th>
        <th>
          voicepass
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each teams}}
        <tr class="team {{#if complete}}complete{{else}}incomplete{{/if}}">
          <td>
            {{name}}
          </td>
          <td>
            {{voicepass}}
          </td>
          {{#each region_listens}}
            <td data-listens>
              {{this}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  <style>
    td {
      padding: 0.5rem;
    }

    td.listened {
      background-color: pink;
    }

    .team.complete {
      background-color: pink;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelectorAll('[data-listens]').forEach(function (listensCell) {
        let [location, listensString] = listensCell.innerHTML.split(': ');
        let listens = parseInt(listensString);

        if (listens) {
          listensCell.classList.add('listened');
        }
      });
    });
  </script>
{{/admin/layout}}
