{{#> admin/layout css="voicemails" js="voicemails" }}
  <table>
    <thead>
      <tr>
        <th></th>
        <th>
          character name
        </th>
        <th>team?</th>
      </tr>
    </thead>
    <tbody>
      {{> admin/voicemails-rows label="unapproved" voicemails=unapproved}}
      {{> admin/voicemails-rows label="approved" voicemails=approved}}
      {{> admin/voicemails-rows label="rejected" voicemails=rejected}}
    </tbody>
  </table>
{{/admin/layout}}
