<div class='grid-x'>
  <div class='small-12 cell'>
    <table>
      <thead>
        <tr>
          {{#if (feature-flag 'destination-status')}}
            <th></th>
          {{/if}}
          {{! template-lint-disable no-invalid-interactive }}
          <th class='region' onclick={{action 'toggleSort'}}>
            <span class='secondary label'>
              Region
            </span>
          </th>
          <th>
            Description
          </th>
          <th>
            Answer
          </th>
          <th class='show-for-medium'>
            Mask
          </th>
          <th class='awesomeness' onclick={{action 'toggleAwesomenessSort'}}>
            <span class='secondary label'>
              A
            </span>
          </th>
          <th>
            R
          </th>
          <th class='scheduled' onclick={{action 'toggleScheduledSort'}}>
            <span class='secondary label'>
              S?
            </span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.destinations as |destination|}}
          <DestinationRow @destination={{destination}} />
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route='destinations.new' class='new'>
      New
    </LinkTo>
  </div>
</div>