<div class='row'>
  <div class='small-12 columns'>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class='region' onclick={{action 'toggleSort'}}><span class='secondary label'>Region</span></th>
          <th>Description</th>
          <th>Answer</th>
          <th>A</th>
          <th>R</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each destinations as |destination|}}
          {{destination-row destination=destination}}
        {{/each}}
      </tbody>
    </table>

    {{link-to 'New' 'destinations.new' class='new'}}
  </div>
</div>
