<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={phrase("description")}>
    <meta name="author" content="">

    <meta name='twitter:card' content='summary'>

    <meta property='og:title' content={"Clandestine Rendezvous: Victoria, #{short_date()}"}>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='http://rendezvous.chromatin.ca'>
    <meta property='og:image' content='https://crvictoria.herokuapp.com/images/eye.png'>
    <meta property='og:description' content={phrase("description")}>

    <title><%= phrase("title") %></title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={Routes.static_path(@conn, "/css/#{Application.get_env(:adventure_registrations, :adventure)}.css")}>

    <link rel='icon' href={"/images/#{adventure()}/favicon.ico"} />
  </head>

  <body>
    <div class='row nav'>
      <div class='small-12 columns'>
        <nav class='top-bar'>
          <div class='top-bar-left'>
            <ul class='dropdown menu'>
              <li><%= active_link "Home", @conn, Routes.page_path(@conn, :index), class: "home" %></li>
              <%= if logged_in?(@conn) do %>
                <li>
                  <%= link to: Routes.session_path(@conn, :delete), method: :delete, class: "logout" do %>
                    Log out <span class="show-for-medium session-email"><%= current_user(@conn).email %></span>
                  <% end %>
                </li>
                <li><%= active_link "Edit details", @conn, Routes.user_path(@conn, :edit), class: "details" %></li>
                <%= if admin?(@conn) do %>
                  <li><%= active_link "Users", @conn, Routes.user_path(@conn, :index), class: "users" %></li>
                  <li><%= active_link "Teams", @conn, Routes.team_path(@conn, :index), class: "teams" %></li>
                  <li><%= active_link "Messages", @conn, Routes.message_path(@conn, :index), class: "messages" %></li>
                  <%= if is_unmnemonic_devices() do %>
                    <li><%= active_link "Settings", @conn, Routes.settings_path(@conn, :index), class: "settings" %></li>
                  <% end %>
                <% end %>
              <% else %>
                <li><%= active_link "Register", @conn, Routes.registration_path(@conn, :new), class: "register" %></li>
                <li><%= active_link "Log in", @conn, Routes.session_path(@conn, :new), class: "login" %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class='everything'>
      <%= if get_flash(@conn, :info) do %>
        <div class='row flash'>
          <div class='small-12 columns'>
            <p class="alert-info success callout" role="alert">☑️ <%= get_flash(@conn, :info) %></p>
          </div>
        </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class='row flash'>
          <div class='small-12 columns'>
            <p class="alert alert-danger callout" role="alert">❗️ <%= get_flash(@conn, :error) %></p>
          </div>
        </div>
      <% end %>

      <%= @inner_content %>
    </div>

    <!-- Should each adventure have a layout? -->
    <%= if is_unmnemonic_devices() do %>
      <%= if @conn.assigns[:settings].compromised do %>
        <div id='pi'>&pi;</div>
        <dialog id='pi-dialog'>
          <img src='/images/unmnemonic-devices/thenet.gif'>

          <%= if logged_in?(@conn) do %>
            <%= if current_user(@conn).voicepass do %>
              <p data-test-voicepass><%= current_user(@conn).voicepass %></p>
              <button class='button' data-test-regenerate>regenerate</button>
            <% else %>
              <p data-test-voicepass>generate a voicepass</p>
              <button class='button' data-test-regenerate>generate</button>
            <% end %>

            <p>
              your voice password shows above. call chromatins voicemail at FIXME, say “remember”, and then your voice password.
              chromatin cheaped out on the voice system and it shows. you sometime have to speak really loud for it to understand
              you or it hers background noise and thinks it was a command. pretty bad. if your password is hard to pronounce
              choose a new one? some of those who remember will be trying to improve reliability so we can keep lines of
              communication open between each other during the demonstration.
            </p>
          <% else %>
            <p>Log in for more</p>
          <% end %>
          <form method='dialog'>
            <button class='button secondary hollow' value='default'>okay</button>
          </form>
        </dialog>
      <% end %>
    <% end %>

    <script src={Routes.static_path(@conn, "/js/#{Application.get_env(:adventure_registrations, :adventure)}.js")}></script>
  </body>
</html>
