<html>
  <head>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        numberField = document.querySelector('#number-field');
        let storedNumber = localStorage.getItem('number');

        if (storedNumber) {
          numberField.value = storedNumber;
        }

        numberField.addEventListener('change', function (event) {
          localStorage.setItem('number', numberField.value);
        });

        document.querySelectorAll('.call').forEach(function (button) {
          button.addEventListener('click', call);
        });
      });

      function call(event) {
        fetch(window.location.href, {
          method: 'POST',
          body: new URLSearchParams({to: numberField.value}),
        });
      }
    </script>
  </head>
  <body>
    <label>
      your phone number
      <input id="number-field" name="number" placeholder="+1-204-287-7433" />
    </label>
    <table>
      <thead>
        <tr>
          <th>
            start
          </th>
          <th>
            from
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each calls}}
          <tr>
            <td>
              {{this.start}}
            </td>
            <td>
              {{this.from}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td>
              no calls
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="call">
      Call
    </button>
  </body>
</html>