<h2>Show team</h2>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @team.name %>
  </li>

  <li>
    <strong>Risk aversion:</strong>
    <%= @team.risk_aversion %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @team.notes %>
  </li>

  <li>
    <strong>Users:</strong>
    <%= team_emails(@team) %>
  </li>
</ul>

<%= link("Edit", to: Routes.team_path(@conn, :edit, @team)) %>
<%= link("Back", to: Routes.team_path(@conn, :index)) %>
