<table>
  <thead>
    <tr>
      <th class='p-2 text-left text-sm'>
        Name
      </th>
      <th class='p-2 text-left text-sm'>
        Notes
      </th>
      <th class='p-2 text-left text-sm'>
        Hours
      </th>
      <th class='p-2 text-left text-sm hidden sm:table-cell'>
        Path?
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.regions as |region|}}
      <RegionRow @region={{region}} />
    {{/each}}
  </tbody>
</table>

<LinkTo @route='regions.new' class='new'>
  New
</LinkTo>

<br />
<LinkTo @route='regions.map' class='map'>
  Map
</LinkTo>
<br />
<br />
<br />