@import 'foundation-sites/scss/util/unit';
@import 'foundation-sites/scss/util/util';
@import '_unmnemonic-devices-settings';

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-regular.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-oblique.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-oblique.woff') format('woff');
    font-weight: normal;
    font-style: oblique;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-bold.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ud-body';
    src: url('/fonts/unmnemonic-devices/ud-body-bold-oblique.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-body-bold-oblique.woff') format('woff');
    font-weight: bold;
    font-style: oblique;

}

@font-face {
    font-family: 'ud-script';
    src: url('/fonts/unmnemonic-devices/ud-script.woff2') format('woff2'),
         url('/fonts/unmnemonic-devices/ud-script.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import '~foundation-sites/scss/foundation';

@include foundation-everything;
@include foundation-flex-grid;

body {
  background: black;
}

.hero .columns {
  position: relative;
}

.menu a.active {
  font-weight: bold;
}

// Fix a weird slight misalignment in the logout link
.menu > li > a > span {
  vertical-align: revert;
}

h1 {
  font-family: 'ud-script';
  font-size: 1.75rem;
  position: absolute;
  bottom: 0;
  margin-left: 1.5rem;
  color: white;
  text-shadow: 2px 2px 1px black;

  sup {
    font-family: 'ud-body';
    font-size: 20%;
    top: -1em;
    left: -1em;
  }
}

table, thead {
  color: black;
}

summary {
  position: relative;
  z-index: 10;
  display: list-item;
  cursor: pointer;
}

.row.highlight {
  background: #333;
  margin: 1rem auto;
  padding-top: 0.5rem;
}

.moving-erasure {
  color: white;
}

a {
  position: relative;
  z-index: 5; // Move above moving erasure
}

#pi {
  font-family: Arial, Helvetica, "Helvetica Neue";
  position: fixed;
  bottom: 10px;
  right: 15px;
}

#pi-dialog p {
  max-width: 20rem;
}

.row.card {
  background-color: inherit;
  border-color: transparent;
}

.alert-info.success, .alert-danger.alert {
  color: black;
}

.alert-info.success::before {
  content: '☑️ ';
}

.alert-danger.alert::before {
  content: '❗️ ';
}

/* Why doesn’t the email scss work */
body.email {
  color: white;

  .title {
    position: relative;
    margin-bottom: 2rem;
  }
}
