$global-font-size: 120%;

@import 'unmnemonic-devices';

body.email {
  color: #fffff0;
  background: #010101;

  .title {
    position: relative;
    margin-bottom: 2rem;
  }

  p, h1, h2, h3 {
    color: #fffff0 !important;
  }
}
