<div class='row'>
  <div class='small-12 columns'>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.regions as |region|}}
          <tr class='region {{if region.isComplete 'complete' 'incomplete'}}'>
            <td class='name'>{{region.name}}</td>
            <td><LinkTo @route="region" @model={{region}} class="edit">Edit</LinkTo></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <LinkTo @route="regions.new" class="new">New</LinkTo>
    <LinkTo @route="regions.map" class="map">Map</LinkTo>
  </div>
</div>
