<div class='row'>
  <div class='small-12 columns'>
    <div class='map'>
      <img src='{{mapSrc}}'>
      <input type='file' onchange={{action 'saveMap'}}>
      {{#each model as |region|}}
        {{mappable-region region=region}}
      {{/each}}
    </div>
  </div>
</div>
