<div class='row'>
  <div class='small-12 columns'>
    <div class='map'>
      <img src={{this.mapSrc}} alt='map'>

      <label>Map <input id='map' type='file' onchange={{action 'saveAttachment' 'image' 'mapSrc'}}></label>
      <label>High-res map <input type='file' onchange={{action 'saveAttachment' 'high' 'highMapSrc'}}></label>
      {{#each this.model as |region|}}
        <MappableRegion @region={{region}} />
      {{/each}}
    </div>
  </div>
</div>
