<div class='row'>
  <div class='small-12 columns'>
    <div class='map'>
      {{#each model as |region|}}
        <div class='region'>
          <div class='name'>{{region.name}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
