<ul>
{{#each model as |destination|}}
  <li class='destination'><span class='description'>{{destination.description}}</span> {{link-to 'Edit' 'destination' destination class='edit'}}</li>
{{/each}}
</ul>
