{{textarea value=model.description class='description'}}
{{textarea value=model.accessibility class='accessibility'}}

<button {{action 'save' model}} class='save'>Save</button>
<button {{action 'cancel' model}} class='cancel'>Cancel</button>
