<div class='row'>
  <div class='small-12 columns'>
    <div class='input-group'>
      <span class='input-group-label'>Goal</span>
      {{input value=model.goal class='goal input-group-field'}}
      <div class='input-group-button'>
        <button {{action 'save' model}} class='save button primary'>Save</button>
      </div>
    </div>
  </div>
</div>
